body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-align: center;
}
.question1{
    border:1px dashed black;
}
