.title{
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-align: center;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quiz{
    border:1px dashed black;
    width:30%;
    height:40%;
    display: inline-table;
}
.submit{
    border:1px dashed black;
    background-color: transparent;
    
    
}